* {
  padding: 0;
  margin: 0;
}

.home-container {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  background-color: black; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 3s ease-in-out;
  opacity: 0;
  filter: brightness(40%);
}

.background-image.active {
  opacity: 1;
}

.background-image.fade-out {
  opacity: 0; 
  transition: opacity 3s ease-in-out; 
}

.home-message {
  z-index: 1;
  width: 1000px;
  height: 400px;
  font-size: 35px;
  color: white;
  line-height: 1.2;
  font-size: 50px;
}

.action-container {
  height: 400px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  color: rgb(58, 56, 56);
  z-index: 1;
  box-sizing: border-box;
  border: 1px solid green;
}

.center-search {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.search-container {
  z-index: 1;
  max-height: 70px;
  padding: 5px;
  width: 100%;
  background-color: rgb(228, 225, 225);
  color: black;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  border-radius: 5px;
}

.begin-text {
  margin-bottom: 50px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

.search-location {
  height: 100%;
  width: 50%;
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
}

.search-dates {
  height: 100%;
  width: 35%;
  display: flex;
  font-size: 10px;
  line-height: 1.0;
  justify-content: space-evenly;
  font-size: 10px;
}

.starting-date, .ending-date {
  height: 100%;
  width: 46%;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

.dates-text {
  padding: 5px;
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.dates-text h2 {
  font-size: 13px;
}

.date-chosen {
  height: 60%;
  padding: 5px 5px 0 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.starting-date h1, .ending-date h1 {
  font-size: 13px
}

.home-button-container {
  width: 15%;
  height: 100%;
}

.calendar-container {
  height: 500px;
  width: 50%;
}


.flight-search-bar {  
  display: flex;  
  align-items: center;  
  padding: 10px;  
  background-color: #f7f7f7;  
  border: 1px solid #ddd;  
  border-radius: 5px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}  
  
.location-field {  
  margin-right: 10px;  
}  
  
.location-field input {  
  padding: 10px;  
  border: none;  
  border-radius: 5px;  
  font-size: 16px;  
}  
  
.date-field {  
  margin-right: 10px;
}  
  
.date-field input {  
  padding: 10px;  
  border: none;  
  border-radius: 5px;  
  font-size: 16px;  
  height: 40px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Add a general shadow around the input */
}  
  
.find-deals-btn {  
  background-color: orange;  
  color: #fff;  
  padding: 10px 20px;  
  border: none;  
  border-radius: 5px;  
  font-size: 16px;  
  cursor: pointer; 
}  
  
.find-deals-btn:hover {  
  background-color: rgb(230, 158, 24);  
}
