  .hotels1-page-container {
    padding: 100px;
    z-index: 1; 
    position: relative; 
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    box-sizing: border-box;
  }

  .back-arrow-container3 {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black; 
    z-index: 2;
    position: relative;
    color: white;
    box-sizing: border-box;
  }

  .back-arrow3 {
    height: 45%;
    width: 50px;
    margin-left: 30px;
  }

  .back-arrow3 img {
    height: 100%;
    width: 100%;
  }

  .city-name-hotels {
    width: 100%;
    height: 250px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .city-text1 {
    width: 80%;
  }

  .hotel-stack-container {
    z-index: 2;
    background-color: black;
    min-height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 50px;
  }

  .hotel-stack-text {
    width: 80%;
    height: 150px;
  }

  .hotel-stack-text h1 {
    font-size: 80px;
  }

  .hotel-stack-text hr {
    border: 1px solid white;
  }

  .hotel-stack-list {
    width: 80%;
    min-height: 500px; 
    height: auto; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 50px; 
    box-sizing: border-box;
    overflow: visible; 
  }
  
  .hotel-stack-item-container {
    width: 80%; 
    height: 300px; 
    display: flex;
    box-sizing: border-box;
    border: 3px solid orange;
  }

  .img-container2 {
    width: 40%;
    height: 100%;
    border: 2px solid orange;
    box-sizing: border-box;
  }

  .information-container-hotel {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .hotel-name-rating2 {
    width: 100%;
    height: 33%;
    border: 1px solid purple;
    display: flex;
    box-sizing: border-box;
  }

  .hotel-name-description2 {
    width: 85%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .hotel-rating2 {
    height: 100%;
    width: 22%;
    background-color: orange;
    border-left: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .amenities-container2 {
    height: 42%;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .action-container-hotels {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .book-button2 {
    height: 35px;
    width: 105px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }

  .explore-button2 {
    height: 35px;
    width: 105px;
    background-color: #426e86;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }